<div class="container">
    <div class="row  mt-5">
        <div class="col-md-12">
            <div class="card bg-secondary">
                <div class="card-body">
                    <div class="card-title text-center fw-bold text-warning fs-4">💰 Registro de Transacciones 💸</div>
                    <form [formGroup]="this.presupuestoService.form" class="text-white fw-bold">
                        <div class="mt-2">
                            <div class="form-group mt-2" visible="false">
                                <label for="tipo">Tipo de transaccion</label>
                                <select formControlName="tipo"
                                [ngClass]="this.presupuestoService.tipo?.touched && this.presupuestoService.tipo?.errors ? 'is-invalid' : ''"
                                class="form-select"
                                [(ngModel)]="opcionSel" (change)="filtrarPorTipos()">
                                    <option *ngFor="let c of tipos" 
                                     [value]="c.id">{{c.nombre}}</option>
                                </select>
                                <div *ngIf="this.presupuestoService.tipo?.touched && this.presupuestoService.tipo?.errors ? 'is-invalid' : ''" class="invalid-feedback">
                                    El tipo transaccion es requerido.
                                </div>
                            </div>

                            <label for="cuenta">Cuenta</label>
                            <select formControlName="cuenta"  
                            [ngClass]="this.presupuestoService.cuenta?.touched && this.presupuestoService.cuenta?.errors ? 'is-invalid' : ''"                          
                            class="form-select" required>
                                <option *ngFor="let c of categorias" [value]="c.nombre">{{c.nombre}}</option>
                            </select>
                            <div *ngIf="this.presupuestoService.cuenta?.touched && this.presupuestoService.cuenta?.errors ? 'is-invalid' : ''" class="invalid-feedback">
                                La cuenta de la transaccion es requerida.
                            </div>
                        </div>                                  
                        <div class="mt-2">
                            <label for="monto">Monto</label>
                            <input formControlName="monto" type="number" id="monto" class="form-control"
                             [ngClass]="this.presupuestoService.monto?.touched && this.presupuestoService.monto?.errors ? 'is-invalid' : ''"
                              placeholder="0.00">
                              <div *ngIf="this.presupuestoService.monto?.touched && this.presupuestoService.monto?.errors ? 'is-invalid' : ''" class="invalid-feedback">
                                  El monto es requerido.
                              </div>
                        </div>
                        <div class="mt-2">
                            <label for="iptFecha">Fecha</label>
                            <input formControlName="fecha" type="date" 
                            [ngClass]="this.presupuestoService.fecha?.touched && this.presupuestoService.fecha?.errors ? 'is-invalid' : ''"
                            class="form-control" id="iptFecha">
                            <div *ngIf="this.presupuestoService.fecha?.touched && this.presupuestoService.fecha?.errors ? 'is-invalid' : ''" class="invalid-feedback">
                                La fecha de la transaccion es requerida.
                            </div>
                        </div>
                        <div class="mt-2">
                            <button (click)="salvar()" class="btn btn-success text-white fw-bold">
                                Salvar
                            </button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>
